<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freesun.votemanager.mapper.OptionsMapper">

    <select id="getUserSeizeBySid" resultType="map">
        SELECT uid FROM item
        WHERE sid =#{sid}
        GROUP BY uid
    </select>
    <select id="voteExesit" resultType="map">
        SELECT * FROM item
        WHERE uid=#{uid} AND sid=#{sid}
    </select>
    <insert id="saveItem" parameterType="map">
        INSERT INTO `item` ( `uid`, `sid`, `oid`)
        VALUES (#{uid},#{sid},#{oid})
    </insert>

    <select id="getOptionsInfo" resultType="map">
        SELECT o.oid,o.ocontent, COUNT(uid) as optCounts FROM `options` o
        LEFT JOIN item i
        ON o.oid=i.oid
        WHERE o.osid=#{sid}
        GROUP BY o.oid
    </select>
</mapper>
